

/* début mise en forme formulaire */
html,
fieldset {
  width: 100%;
  font-family: Arial, sans-serif;
  color: rgb(70, 0, 128);
}
form {
  margin: 3% 15%;
}
div,
textarea,
button {
  margin: 1% 0%;
}
fieldset {
  padding: 2%;
  border: 2px rgb(70, 0, 128) solid;
  border-radius: 5px;
}
label {
  font-size: 1.1em;
  margin-right: 1em;
}
.FormNom,
.FormPrenom
 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input,
select {
  flex-grow: 1;
  font-size: 1em;
  background-color: transparent;
  border: 1px rgb(70, 0, 128) solid;
  border-radius: 3px;
  color: rgb(70, 0, 128);
  padding: 0.2%;
}
#choiceStatut div {
  font-size: 0.8em;
  margin-bottom: 2%;
}
input[type="radio"] {
  margin-right: 1em;
}
#message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#message textarea {
  width: 95%;
  font-size: 1em;
  flex-grow: 0.9em;
  border-radius: 5px;
  border: 1px rgb(70, 0, 128) solid;
  padding: 1%;
}
button {
  border-radius: 10px;
  background-color: rgb(70, 0, 128);
  color: white;
  padding: 0.7em 1em;
  font-size: 1em;
  border: none;
}
button:hover {
  background-color:rgb(70, 0, 128);
  transition-duration: 0.5s;
}
/* fin mise en forme formulaire */
li,
h1{
    color: rgb(70, 0, 128);
    font-weight:800;
}

.footerHorairesOuverture,
tr,
td,
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
a:hover,
.navbar-toggler
 {
  background-color: #83c5be;
  color: #006d77;
}
footer,
td,
a,
.information,
button:hover 
{
  background-color: #83c5be;
  color: white;
  font-weight: 600;
}
.honoraire {
  width: 100%;
  border: 3px solid #83c5be;
  display: flex;
  align-items: center;
  padding-left: 0%;
  padding-right: 0%;
}
.tarif {
  width: 50%;
  height: 50%;
}
.enfant {
  width: 50%;
  height: 50%;
}

.titre {
  position: absolute;
  top: 120%;
  left: 20%;
  z-index: 1;
  background-color: white;
  font-size: 80%;
  font-weight: bold;
}
.information{
  text-align: center;
}
